*.cmd
*.d
*.ko
*.o
*.order
*.rej
*.so
*.so.*
*.symvers

module/.cache.mk
module/.tmp_versions/
module/built-in.a
module/evdi.mod
module/evdi.mod.c

site/
tmp/

checkpatch.pl
const_structs.checkpatch
spelling.txt
